.stage-collection {
    width: 16%;
    display: flex;
    flex-direction: column;
    position: relative;

    background-color: #ebecf0;
    border-radius: 0.45rem;
    max-height: 100%;
    white-space: normal;

    margin: 0.4rem 0;

    .stage-title {
        margin: 0.65rem 0.6rem;
    }
}