.footer {
    height: 5%;
    width: 100%;
    color: aqua;
    //opacity: 0.6;
    background: transparent; 
    box-sizing: border-box;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.4), 0 3px 10px 0 rgba(0,0,0,.4) ;
}