@font-face {
    font-family: 'Open Sans Condensed'; /* Гарнитура шрифта */
    src: url(../../OpenSansCondensed-Light.ttf); /* Путь к файлу со шрифтом */
}

.footer {
    height: 5%;
    width: 100%;
    color: aqua;
    //opacity: 0.6;
    //background: transparent; 
    //box-sizing: border-box;
    //box-shadow: 0 5px 5px 0 rgba(0,0,0,.4), 0 3px 10px 0 rgba(0,0,0,.4) ;

	display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(25, 25, 25, 0.85);
    color: rgb(34, 255, 255);
    padding: 10px;
}
.footer > span {
	margin: auto;
	font-family: 'Open Sans Condensed', sans-serif;

}