.task-collection {


    .new-task {
        width: 80%;
        resize: none;
        background: rgba($color: #e8ebea67, $alpha: 1.0);
        border: none;
        border-radius: 0.45rem;
        color: #fff;
        margin: 0.3rem 0;
        height: 2rem;

        &:focus {
            background: #fff;
            border: solid 1px aqua;
            color: #000;
        }
    }
}