.collection-item {
    color: white;
    min-height: 45px;
    margin: 0.15rem 0.45rem;
    display: block;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: rgba(0, 255, 255, 0.2);
        border-radius: 5px;
        color: #fff;
    }

    &:before {
        position: absolute;
        top: 0;
        left: 50%; /* <— put left edge in the middle */
        margin-left: -20%; /* <— shift to the left by half of the width */
        width: 40%;
        height: 1px;
        background: #fff;
        content: '';
    }

    .name {
        margin: 0.65rem 0.3rem 0.65rem 1rem;
    }

}

.collection-item > span {
    margin: auto;
}