.list-collection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.list-collection > div {
	background-color: rgba(88, 132, 135, 0.8);
	color: white;
	text-align: inherit;
	font-size: 15px;
	padding-bottom: 5px;
}

.title-block {
	display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}