.comments-form {

    .comment-text {
        width: 80%;
        resize: none;
        background: rgba($color: #e8ebea67, $alpha: 1.0);
        border: none;
        border-radius: 0.45rem;
        margin: 0.3rem 0;
        height: 2rem;
    
        &:focus {
            background: #fff;
            border: solid 1px aqua;
            color: #000;
        }
    }

    .comment-button {
        width: 15%;
        margin: 0.3rem 0 0 1rem;
        border-radius: 0.45rem;
        background-color: rgb(76, 240, 90);
        border: none;
        height: 2.25rem;

        &:hover {
            background: rgb(0, 161, 40);
            border: solid 1px rgb(0, 0, 0);
            
        }
    }
    
}